.vfrc-widget--chat {
    width: 100%;
}
.vfrc-system-response .vfrc-message {
    border-radius: 4px;
    word-wrap: break-word;
}
.vfrc-message {
    max-width: 80%;
    width: 80%; 
}   
.vfrc-chat {
    max-width: 100%;
    width: 100%; 
} 
.vfrc-header {
    background-color: #3498db; /* Replace with your desired color */
    color: #ffffff; /* This is the text color */
}
.vfrc-card--header {
    background-color: #3498db; /* Replace with your desired color */
    color: #ffffff; /* This is the text color */
}
.vfrc-chat--dialog {
    max-width: 100%;
    width: 100%;  
} 
.vfrc-input {
    background-color: #f2f2f2;
}    


