/* General Styles for Text and Background */
/* .vfrc-widget--chat,  */
.vfrc-message, .vfrc-message--chat, .vfrc-proactive-message, .vfrc-chat--spacer, .vfrc-message, .vfrc-system-response .vfrc-message, .vfrc-system-response--list, .vfrc-user-response {
    color: black; /* All text in black */
    font-size: 16px; /* Text size set to 16px */
    background-color: white; /* Background color set to white */
    max-width: 80%;
    width: 80%; 
    /* word-wrap: normal; Ensuring word wrap */
}

/* Chat Widget Header */
.vfrc-header {
    background-color: blue; /* Header background color */
    color: white; /* Header text color */
}

/* Chat Message Body - Adjusting width to 80% */
.vfrc-chat, .vfrc-chat--dialog, .vfrc-system-response, .vfrc-user-response {
    max-width: 100%;
    width: 100%;
    margin: 0 auto; /* Centering the chat body */
     /* word-wrap: normal; Ensuring word wrap */
}

/* Input Field - Adjusting width to 80% and styling */
.vfrc-input {
    width: 100%;
    margin: 0 auto; /* Centering the input field */
    border: 1px solid #ccc; /* Border for input field */
    padding: 10px; /* Padding inside the input field */
}
